"The Air Force Manpower, Organization and Resources Directorate (AF/A1M) will ensure Air Force manpower is organized and employed to provide maximum effectiveness and combat power to support National military objectives."

"AF/A1M will execute manpower management ensuring it is flexible and adaptive to program changes, responsive to crisis situations and new management strategies."

"AF/A1M will review new policies, including fiscal policy, to evaluate its impact on manpower and personnel performance. AF/A1M will periodically assess existing policies, procedures, and structures to ensure efficient and effective use of manpower resources."

"Manpower requirements are workload-driven and will be established at the minimum levels necessary to execute mission and performance objectives."

"Changes in manpower will be preceded by changes to the policies, programs, missions, and processes requiring manpower resources."

"Manpower requirements for business processes must be maintained at the lowest possible proportion of the Total Force structure. Manpower in support of war-fighting processes will be maintained at the lowest level practicable to optimize combat capability within the operating forces."

"Assigned missions must use the least costly mix of personnel (military, civilian, and contract) consistent with military requirements and needs of the Air Force."

"Inherently governmental functions will not be contracted."

"Manpower authorities must consider all available sources when determining workforce mix to include the Regular Air Force and Air Reserve Component (Air Reserve Component) military manpower, United States and foreign national civilian manpower, intragovernmental, contract, and host-nation support."

"Manpower will be designated as civilian except when military incumbency is required for reasons of law, Command and Control of crisis situations, combat readiness, or esprit de corps; when unusual working conditions are not conducive to civilian employment; or when military-unique knowledge and skills are required to perform the duties. Manpower authorities shall designate sufficient manpower to provide a rotation base for military personnel and for civilian employees assigned outside the United States. Furthermore, when designating management positions as military or civilian, career opportunities for both categories of personnel shall be considered."