"Establish and manage aircraft logistics for frontline operations and refueling (Allied and Adversary)"

"Report the current status and progress of forward deployment and refueling activities"

"Develop and maintain supply operations for aerial transport hubs (Allied and Adversary)"

"Deliver updates and reports on the status of supply chain activities"

"Indicate aircraft landings on non-paved runways"

"Show aircraft landings on designated runways"

"Organize air-to-air refueling operations to sustain strategic air corridors"

"Departing tankers will decrement base fuel reserves"

"Process and implement fuel requisition orders"

"Navigate to designated air refueling zones according to Airspace Control Measures"

"Flexibly manage fuel transfer from standby refueling units"

"Update and adapt tanker scheduling and fuel offloading plans"

"Organize, coordinate, and carry out medical evacuation flights"

"Assist commanders to execute the mission by maintaining situational awareness of the supported unit’s primary missions and capabilities and providing sound advice for managing manpower risk and resources."

"Assist commanders by maintaining open and responsive communication and ensuring assigned personnel are competent in policies, procedures, and abilities to provide a wide range of sophisticated manpower capabilities."

"Assist commanders to manage resources by advising on policies and procedures for managing manpower requirements and authorizations; evaluate and process requests for changing manpower, and ensure manpower data is correct in the Manpower Programming and Execution System."

"Assist commanders by providing manpower information and data analysis to support data-driven decisions to strategically align resources to missions and performance management."

"Provide analysis and process improvement services to help improve mission readiness and resolve deficiencies, including those identified by the Commander’s Inspection Program."

"Incorporate and integrate Continuous Process Improvement and problem-solving principles, practices, and tools before determining and managing manpower requirements and authorizations."

"Develop policy and guidance for the Secretary of the Air Force to determine and manage Air Force manpower requirements. Will define Air Force manpower requirements and manage corporate Air Force manpower programming and resource distribution for the Total Force."

"Ensure corporate Air Force manpower requirements link mission capabilities to programmed resources."

"Oversee programs and prepare policies for management engineering, wartime requirements, end strength management, and manpower data management."

"Develop and administer policies for identifying and adjusting Air Force manpower integral to the Strategy, Planning, Programming, Budgeting, and Execution process."

"Develop and implement Air Force-wide Total Force manpower guidance for workforce mix."

"Develop and implement Air Force-wide Total Force manpower program control for all manpower resources and requirements including ceilings associated with management headquarters, headquarters support activities, and Joint activities."

"Establish and disseminate plans and procedures governing the Total Force manpower requirements determination process and the efficient use of manpower resources and associated grades."

"Develop and program manpower assessments for manpower and organization actions directed by the Air Force corporate process."

"Approve manpower determinants and resource costing models and provide implementation guidance for approved manpower determinants."

"Present results of manpower determinants studies to Air Force Corporate Structure for programming decisions."

"Operate, secure, and manage the Manpower Programming and Execution System and associated applications."

"Work with Air Force Career Field Managers to advocate for Air Force–level functional priorities and objectives to AF/A1M and Air Force Manpower Analysis Agency to develop, allocate, and manage manpower requirements and resources in their functional area of responsibility."

"Assist Air Force Career Field Managers to determine and manage manpower requirements and authorizations in their functional area of responsibility."

"Notify Air Force Career Field Managers when changes to policies, procedures, or other factors could affect manpower requirements in their functional area of responsibility."

"Define military essentiality and ensure Major Commands follow policies and procedures when identifying manpower positions as military essential."

"Approve all manpower availability factors."

"Provide oversight for the Management Engineering Program."

"Provide manpower standard application and implementation guidance to Major Commands."

"Approve the Regular Air Force manpower study schedule and any changes."

"Approve specific Regular Air Force Logistics Composite Model scenarios to meet aircraft maintenance manpower requirements."

"Coordinate with MAJCOM/A1M for preparation of Manpower Estimate Reports for major acquisition programs. Oversee updates of reports at various milestones. Coordinate on reports sent by the MAJCOM/A1M."

"Manage Manpower career field Continuous Process Improvement training and capability."

"Work with the manpower community to review manpower determinants for applicability and currency."

"Appoint functional area representatives to the manpower standard development team. Collaborate with the Air Force Manpower Analysis Agency and take part in manpower standard development studies."

"Identify initiatives and best practices to the Air Force Manpower Analysis Agency lead team during the manpower determinants study process."

"Review and coordinate on new Regular Air Force manpower determinants before AF/A1M approval."

"Ensure Air Force manpower requirements study documents are approved by the Air Force Analysis Agency Commander, this includes but is not limited to Air Force manpower determinants."

"Improve Air Force mission performance, effectiveness, and resource efficiency by determining current and future peacetime and wartime manpower requirements."

"Partner with functional communities, Major Commands, and field commanders to complete manpower requirements determination studies to include the development of standard work."

"Develop Air Force–level manpower programming factors."

"Develop and execute senior grade reviews, and grade allocation factors."

"Conduct special Headquarters Air Force studies."

"Recommend the most efficient and effective use of Air Force manpower resources to the Air Force Corporate Structure and functional managers."

"Validate Air Force-wide military and civilian manpower requirements, before use in the programming and resourcing process."

"Assist functional managers and field units to execute Air Force strategic sourcing and commercial activity programs."

"Provide manpower and management consulting services to Headquarters Air Force and Air Force functional communities for optimizing systems, improving resource use, and enhancing mission effectiveness and efficiency in peacetime and contingency operations."

"Develop management engineering tools and methods, programming tools, organizational and process-related standards, organizational staffing requirements, and resource allocation studies."

"Serve as Air Force functional lead for Logistics Composite Model."

"Coordinate with Air Force Reserve Command (AFRC)/A1M, and National Guard Bureau (NGB)/A1M when quantifying Regular Air Force manpower requirements in functions common to both Regular Air Force and Air Reserve Components to leverage Total Force integration."

"Develop and quantify manpower availability factors and special manpower availability factors for activities crossing command lines."

"Review and certify manpower availability factors are current, or update factors, at least every three years."

"Post all manpower availability factor tables on the Air Force Manpower Analysis Agency Website."

"Execute the Management Engineering Program."

"Develop management engineering tools and methods to execute the Management Engineering Program."

"Develop, post, and maintain the Regular Air Force manpower studies schedule. Send schedule to AF/A1M for approval."

"Develop, approve, post, and maintain all Regular Air Force manpower determinants, to include Air Force Manpower Analysis Agency–approved Major Command manpower standard variances."

"Staff Regular Air Force manpower standard products with Air Force functional communities and MAJCOM/A1Ms during the manpower determinants development process."

"Conduct Continuous Process Improvement events to develop new or updated standard work documents."

"Provide impact statements at the request of study stakeholders."

"Provide Major Commands with standard work documents and manpower determinants for review during manpower determinants development and staffing process. Major commands provide material to support their comments."

"Notify MAJCOM/A1Ms of new and revised manpower determinants."

"Establish a schedule for currency/functional account code review every two years."

"Coordinate with the functional community, review and update manpower determinants for applicability."

"Advocate for Major Command-specific priorities and objectives to develop, allocate, and manage manpower requirements and resources."

"Validate and manage all manpower requirements and authorizations in the command’s portfolio. This includes participating in developing and applying manpower determinants and cost factors."

"Allocate manpower authorizations in the command’s portfolio. This includes allocating Future Year Defense Program (FYDP) resources and grades."

"Conduct currency review of unfunded Unit Manpower Document positions."

"Remove unfunded positions which are not current or have not been funded for a three-year period. Exceptions will be coordinated with AF/A1MR."

"Assist or prepare manpower estimates, analyses, and reports to support planning, programming, systems acquisition, and resource use."

"Operate and maintain the integrity, viability, and accuracy of all data in the Manpower Programming and Execution System, in the scope of the command’s portfolio."
